.features-section {
  padding: 60px 0;
background: linear-gradient(135deg, #F5F5F5, #EDE7F6, #E3F2FD, #EBFEEA);

/* Light gray background */
  border-radius: 25px;
}

.feature-item {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

/* vertical line */
.feature-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background: #dcdcdc;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title {
  font-size: 42px;
  font-weight: 700;
  color:  green; /* Purple */
  margin-bottom: 12px;
}

.feature-text {
  font-size: 16px;
  font-weight: 600;
  color: #000; /* Black */
  margin: 0;
}
